@import '../base/variables.scss';

.list-title{
  text-align: center;
  margin-top: 20px;
}

.card-text-div{
  background-color: $mainGrey;
  max-height: 200px;
}

.book-image{
  max-height: 400px;
}

.seeMoreBtn{
  padding:0.7em 1.4em;
  margin-top: 10px;
  border-radius:0.15em;
  color:$mainWhite;
  background-color:$green;
  text-align:center;
  cursor: pointer;
}