@import '../base/variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: $offWhite;
  z-index: 1;
  border-bottom: 2px solid $green;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    h1{
      padding-left: 10px;
      color: $mainBlack;
    }
  }
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-icon {
  font-size: 1.5rem;
  color: $mainBlack;
}

.nav-links{
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  list-style-type: none;
  a {
    display: block;
    text-decoration: none;
    padding: 1rem 0;
    color: $mainBlack;
    transition: all 0.3s linear;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  a:hover {
    color: $green;
  }
}

.show-nav {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
    align-items: center;
    a {
      padding: 0.5rem 0;
      margin: 0 1rem;
    }
  }
}