@import '../base/variables';

.about-section{
    min-height: 70vh;
    display: flex;
    align-items: center;
    margin-top: 110px;
    .about{
        display: flex;
        justify-content: center;

        .about-info{
            width: 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                padding-bottom: 10px;
                text-align: left;
            }

            div{
                width: 5rem;
                height: 5px;
                background: $green;
            }

            p{
                padding-top: 20px;
                letter-spacing: 1px;
            }
        }
        
        .about-image{
            margin-left: 10rem;
            width: 33%;
            height: 500px;
            background-image: url("../../images/about-library.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }
    }
}
@media screen and (max-width: 768px){
    .about-section{
        margin: 28px 0px;
    }
    .about-image{
        display: none;
    }
}