@import '../base/variables';

.singleBook-section{
    min-height: 70vh;
    .singleBook-container{

        .singleBook-info{
            margin-top: 100px;
            margin-bottom: 50px;
            p{
                letter-spacing: 0.5px;
            }
        }
        .singleBook-info *{
            padding: 5px 0px;
        }
        .singleBook-img{
            margin-top: 120px;
            img{
                border: 1px solid $green;
                border-radius: 40%;
                width: 70%;
            }
        }
        .home-btn{
            padding:0.7em 1.4em;
            margin-top: 10px;
            border-radius:0.15em;
            color:$mainWhite;
            background-color:$green;
            text-align:center;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 768px){
    .singleBook-section{
        .singleBook-container{
            flex-direction: column;
            margin-bottom: 30px;
    
            .singleBook-info{
                padding-top: 10px;
                padding-left: 0px;
                width: 75%;
                h2{
                    text-align: center;
                }
            }
            .singleBook-img{
                margin-left: 0px;
                width: 50%;
            }
        }
    }
}

